@font-face {
    src: url(Font/Poppins-Medium.ttf);
    font-family: Poppins-m;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
}

.logo .log {
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 0px;
    padding: 0px;
    position: relative;

}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

#menu-icon {
    color: var(--bg-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

header.sticky {
    background: var(--bg-color);
    padding: 10px 18%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

ul {
    list-style-type: none;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 80px 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background: url(../img/background.jpg);
    background-size: cover;
}

.contact .content {
    padding-top: 100px;
    max-width: 800px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #FFFF;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.container .Contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: medium;
    color: #FFFF;
}

.container .Contactinfo .Box {
    position: relative;
    padding: 20px 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;

}

.container .Contactinfo .Box .text {
    display: flex;
    font-size: 20px;
    color: #FFFF;
    flex-direction: column;
    font-weight: 300px;
    margin-bottom: 40px;
    line-height: 60px;
    padding: 20px;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.container .Contactinfo .Box .text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFF;
    text-decoration: underline;

}

.container .Contactinfo .Box .text p {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactForm {
    width: 450px;
    height: 450px;
    padding: 40px;
    background-color: #FFFF;
}

.contactForm h2 {
    font-size: 30px;
    color: #00000;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 80px;
    height: 40px;
    background: #6E54FA;
    color: #ffff;
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
}

@media (max-width: 1040px) {
    .contact {
        width: 100%;
    }

    .content h2 {
        font-size: 30px;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .Contactinfo {
        width: 60px;
    }

    .text {
        font-size: medium;
    }
}

@media (max-width: 575px) {
    .contact .content h2 {
        font-size: 26px;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .text {
        text-align: none;
    }

    .text h3 u {
        font-size: 18px;
    }

    .text p {
        font-size: 8px;
    }

    ;

}